.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 20%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option {
    background: var(--dark-sec-opacity);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition-change);
}

/* ====== Tablet ===== */
@media screen and (max-width:1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}